In [1]:
import pandas as pd

In [2]:
listings = pd.read_csv("listings.csv")

In [3]:
listings

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,279,2019-08-29,4.62,1,192
2,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
3,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,75,2019-07-21,0.59,1,13
4,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.39,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48372,38564068,Top Floor Delight,207204450,Ade,Brooklyn,Cypress Hills,40.67618,-73.90764,Entire home/apt,199,2,0,NaN,NaN,4,42
48373,38564524,Central Park Elegance,1567562,Maggie,Manhattan,Upper East Side,40.77326,-73.96650,Entire home/apt,175,30,0,NaN,NaN,1,263
48374,38566777,Quiet room available,159902221,Nancy,Brooklyn,Bushwick,40.69907,-73.93043,Private room,35,30,0,NaN,NaN,1,66
48375,38567542,Spacious room in Brooklyn brownstone,68905617,Eric,Brooklyn,Crown Heights,40.66986,-73.93772,Private room,79,1,0,NaN,NaN,10,322
48376,38568081,"Petrose home by JFK, Beach &St John Hosp.",293596932,Ebangha,Queens,Far Rockaway,40.60315,-73.75722,Private room,45,3,0,NaN,NaN,1,173

In [4]:
listings.isnull()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48372,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48373,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48374,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48375,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
48376,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False

In [5]:
listings.isnull().any(axis=1)

0         True
1        False
2        False
3        False
4        False
         ...
48372     True
48373     True
48374     True
48375     True
48376     True
Length: 48377, dtype: bool

In [6]:
rows_with_missing_values = listings.isnull().any(axis=1)
listings[rows_with_missing_values]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
18,7750,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,302
24,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,80,4,0,NaN,NaN,1,0
35,11943,Country space in the city,45445,Harriet,Brooklyn,Flatbush,40.63702,-73.96327,Private room,150,1,0,NaN,NaN,1,365
182,51438,1 Bedroom in 2 Bdrm Apt- Upper East,236421,Jessica,Manhattan,Upper East Side,40.77333,-73.95199,Private room,130,14,0,NaN,NaN,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48372,38564068,Top Floor Delight,207204450,Ade,Brooklyn,Cypress Hills,40.67618,-73.90764,Entire home/apt,199,2,0,NaN,NaN,4,42
48373,38564524,Central Park Elegance,1567562,Maggie,Manhattan,Upper East Side,40.77326,-73.96650,Entire home/apt,175,30,0,NaN,NaN,1,263
48374,38566777,Quiet room available,159902221,Nancy,Brooklyn,Bushwick,40.69907,-73.93043,Private room,35,30,0,NaN,NaN,1,66
48375,38567542,Spacious room in Brooklyn brownstone,68905617,Eric,Brooklyn,Crown Heights,40.66986,-73.93772,Private room,79,1,0,NaN,NaN,10,322
48376,38568081,"Petrose home by JFK, Beach &St John Hosp.",293596932,Ebangha,Queens,Far Rockaway,40.60315,-73.75722,Private room,45,3,0,NaN,NaN,1,173

In [8]:
cleaned_listings = listings.drop(columns=['latitude','neighbourhood'])

In [9]:
cleaned_listings

,id,name,host_id,host_name,neighbourhood_group,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,-73.94190,Private room,150,3,0,NaN,NaN,1,365
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,-73.95976,Entire home/apt,89,1,279,2019-08-29,4.62,1,192
2,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
3,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,-73.97500,Entire home/apt,200,3,75,2019-07-21,0.59,1,13
4,5121,BlissArtsSpace!,7356,Garon,Brooklyn,-73.95596,Private room,60,45,49,2017-10-05,0.39,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48372,38564068,Top Floor Delight,207204450,Ade,Brooklyn,-73.90764,Entire home/apt,199,2,0,NaN,NaN,4,42
48373,38564524,Central Park Elegance,1567562,Maggie,Manhattan,-73.96650,Entire home/apt,175,30,0,NaN,NaN,1,263
48374,38566777,Quiet room available,159902221,Nancy,Brooklyn,-73.93043,Private room,35,30,0,NaN,NaN,1,66
48375,38567542,Spacious room in Brooklyn brownstone,68905617,Eric,Brooklyn,-73.93772,Private room,79,1,0,NaN,NaN,10,322
48376,38568081,"Petrose home by JFK, Beach &St John Hosp.",293596932,Ebangha,Queens,-73.75722,Private room,45,3,0,NaN,NaN,1,173

In [10]:
cleaned_listings['name'].unique()

array(['THE VILLAGE OF HARLEM....NEW YORK !',
       'Cozy Entire Floor of Brownstone',
       'Entire Apt: Spacious Studio/Loft by central park', ...,
       'Quiet room available', 'Spacious room in Brooklyn brownstone',
       'Petrose home by JFK, Beach &St John Hosp.'], dtype=object)

In [11]:
cleaned_listings

,id,name,host_id,host_name,neighbourhood_group,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,-73.94190,Private room,150,3,0,NaN,NaN,1,365
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,-73.95976,Entire home/apt,89,1,279,2019-08-29,4.62,1,192
2,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
3,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,-73.97500,Entire home/apt,200,3,75,2019-07-21,0.59,1,13
4,5121,BlissArtsSpace!,7356,Garon,Brooklyn,-73.95596,Private room,60,45,49,2017-10-05,0.39,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48372,38564068,Top Floor Delight,207204450,Ade,Brooklyn,-73.90764,Entire home/apt,199,2,0,NaN,NaN,4,42
48373,38564524,Central Park Elegance,1567562,Maggie,Manhattan,-73.96650,Entire home/apt,175,30,0,NaN,NaN,1,263
48374,38566777,Quiet room available,159902221,Nancy,Brooklyn,-73.93043,Private room,35,30,0,NaN,NaN,1,66
48375,38567542,Spacious room in Brooklyn brownstone,68905617,Eric,Brooklyn,-73.93772,Private room,79,1,0,NaN,NaN,10,322
48376,38568081,"Petrose home by JFK, Beach &St John Hosp.",293596932,Ebangha,Queens,-73.75722,Private room,45,3,0,NaN,NaN,1,173

In [12]:
cleaned_listings

,id,name,host_id,host_name,neighbourhood_group,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,-73.94190,Private room,150,3,0,NaN,NaN,1,365
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,-73.95976,Entire home/apt,89,1,279,2019-08-29,4.62,1,192
2,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
3,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,-73.97500,Entire home/apt,200,3,75,2019-07-21,0.59,1,13
4,5121,BlissArtsSpace!,7356,Garon,Brooklyn,-73.95596,Private room,60,45,49,2017-10-05,0.39,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48372,38564068,Top Floor Delight,207204450,Ade,Brooklyn,-73.90764,Entire home/apt,199,2,0,NaN,NaN,4,42
48373,38564524,Central Park Elegance,1567562,Maggie,Manhattan,-73.96650,Entire home/apt,175,30,0,NaN,NaN,1,263
48374,38566777,Quiet room available,159902221,Nancy,Brooklyn,-73.93043,Private room,35,30,0,NaN,NaN,1,66
48375,38567542,Spacious room in Brooklyn brownstone,68905617,Eric,Brooklyn,-73.93772,Private room,79,1,0,NaN,NaN,10,322
48376,38568081,"Petrose home by JFK, Beach &St John Hosp.",293596932,Ebangha,Queens,-73.75722,Private room,45,3,0,NaN,NaN,1,173

In [13]:
cleaned_listings.fillna(0)

,id,name,host_id,host_name,neighbourhood_group,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,-73.94190,Private room,150,3,0,0,0.00,1,365
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,-73.95976,Entire home/apt,89,1,279,2019-08-29,4.62,1,192
2,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
3,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,-73.97500,Entire home/apt,200,3,75,2019-07-21,0.59,1,13
4,5121,BlissArtsSpace!,7356,Garon,Brooklyn,-73.95596,Private room,60,45,49,2017-10-05,0.39,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48372,38564068,Top Floor Delight,207204450,Ade,Brooklyn,-73.90764,Entire home/apt,199,2,0,0,0.00,4,42
48373,38564524,Central Park Elegance,1567562,Maggie,Manhattan,-73.96650,Entire home/apt,175,30,0,0,0.00,1,263
48374,38566777,Quiet room available,159902221,Nancy,Brooklyn,-73.93043,Private room,35,30,0,0,0.00,1,66
48375,38567542,Spacious room in Brooklyn brownstone,68905617,Eric,Brooklyn,-73.93772,Private room,79,1,0,0,0.00,10,322
48376,38568081,"Petrose home by JFK, Beach &St John Hosp.",293596932,Ebangha,Queens,-73.75722,Private room,45,3,0,0,0.00,1,173

In [14]:
cleaned_listings['name'].unique

<bound method Series.unique of 0                     THE VILLAGE OF HARLEM....NEW YORK !
1                         Cozy Entire Floor of Brownstone
2        Entire Apt: Spacious Studio/Loft by central park
3               Large Cozy 1 BR Apartment In Midtown East
4                                         BlissArtsSpace!
                               ...
48372                                   Top Floor Delight
48373                               Central Park Elegance
48374                                Quiet room available
48375                Spacious room in Brooklyn brownstone
48376           Petrose home by JFK, Beach &St John Hosp.
Name: name, Length: 48377, dtype: object>

In [15]:
pip install autocorrect

Requirement already satisfied: autocorrect in c:\users\p c\documents\my palettes\data analysis\lib\site-packages (2.6.1)Note: you may need to restart the kernel to use updated packages.

In [18]:
cleaned_listings

,id,name,host_id,host_name,neighbourhood_group,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,-73.94190,Private room,150,3,0,NaN,NaN,1,365
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,-73.95976,Entire home/apt,89,1,279,2019-08-29,4.62,1,192
2,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
3,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,-73.97500,Entire home/apt,200,3,75,2019-07-21,0.59,1,13
4,5121,BlissArtsSpace!,7356,Garon,Brooklyn,-73.95596,Private room,60,45,49,2017-10-05,0.39,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48372,38564068,Top Floor Delight,207204450,Ade,Brooklyn,-73.90764,Entire home/apt,199,2,0,NaN,NaN,4,42
48373,38564524,Central Park Elegance,1567562,Maggie,Manhattan,-73.96650,Entire home/apt,175,30,0,NaN,NaN,1,263
48374,38566777,Quiet room available,159902221,Nancy,Brooklyn,-73.93043,Private room,35,30,0,NaN,NaN,1,66
48375,38567542,Spacious room in Brooklyn brownstone,68905617,Eric,Brooklyn,-73.93772,Private room,79,1,0,NaN,NaN,10,322
48376,38568081,"Petrose home by JFK, Beach &St John Hosp.",293596932,Ebangha,Queens,-73.75722,Private room,45,3,0,NaN,NaN,1,173

In [17]:
cleaned_listings.fillna(0)

,id,name,host_id,host_name,neighbourhood_group,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,-73.94190,Private room,150,3,0,0,0.00,1,365
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,-73.95976,Entire home/apt,89,1,279,2019-08-29,4.62,1,192
2,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
3,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,-73.97500,Entire home/apt,200,3,75,2019-07-21,0.59,1,13
4,5121,BlissArtsSpace!,7356,Garon,Brooklyn,-73.95596,Private room,60,45,49,2017-10-05,0.39,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48372,38564068,Top Floor Delight,207204450,Ade,Brooklyn,-73.90764,Entire home/apt,199,2,0,0,0.00,4,42
48373,38564524,Central Park Elegance,1567562,Maggie,Manhattan,-73.96650,Entire home/apt,175,30,0,0,0.00,1,263
48374,38566777,Quiet room available,159902221,Nancy,Brooklyn,-73.93043,Private room,35,30,0,0,0.00,1,66
48375,38567542,Spacious room in Brooklyn brownstone,68905617,Eric,Brooklyn,-73.93772,Private room,79,1,0,0,0.00,10,322
48376,38568081,"Petrose home by JFK, Beach &St John Hosp.",293596932,Ebangha,Queens,-73.75722,Private room,45,3,0,0,0.00,1,173

In [19]:
cleaned_listings.drop_duplicates()

,id,name,host_id,host_name,neighbourhood_group,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,-73.94190,Private room,150,3,0,NaN,NaN,1,365
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,-73.95976,Entire home/apt,89,1,279,2019-08-29,4.62,1,192
2,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
3,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,-73.97500,Entire home/apt,200,3,75,2019-07-21,0.59,1,13
4,5121,BlissArtsSpace!,7356,Garon,Brooklyn,-73.95596,Private room,60,45,49,2017-10-05,0.39,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48372,38564068,Top Floor Delight,207204450,Ade,Brooklyn,-73.90764,Entire home/apt,199,2,0,NaN,NaN,4,42
48373,38564524,Central Park Elegance,1567562,Maggie,Manhattan,-73.96650,Entire home/apt,175,30,0,NaN,NaN,1,263
48374,38566777,Quiet room available,159902221,Nancy,Brooklyn,-73.93043,Private room,35,30,0,NaN,NaN,1,66
48375,38567542,Spacious room in Brooklyn brownstone,68905617,Eric,Brooklyn,-73.93772,Private room,79,1,0,NaN,NaN,10,322
48376,38568081,"Petrose home by JFK, Beach &St John Hosp.",293596932,Ebangha,Queens,-73.75722,Private room,45,3,0,NaN,NaN,1,173

In [20]:
cleaned_listings.fillna(0)

,id,name,host_id,host_name,neighbourhood_group,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,-73.94190,Private room,150,3,0,0,0.00,1,365
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,-73.95976,Entire home/apt,89,1,279,2019-08-29,4.62,1,192
2,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
3,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,-73.97500,Entire home/apt,200,3,75,2019-07-21,0.59,1,13
4,5121,BlissArtsSpace!,7356,Garon,Brooklyn,-73.95596,Private room,60,45,49,2017-10-05,0.39,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48372,38564068,Top Floor Delight,207204450,Ade,Brooklyn,-73.90764,Entire home/apt,199,2,0,0,0.00,4,42
48373,38564524,Central Park Elegance,1567562,Maggie,Manhattan,-73.96650,Entire home/apt,175,30,0,0,0.00,1,263
48374,38566777,Quiet room available,159902221,Nancy,Brooklyn,-73.93043,Private room,35,30,0,0,0.00,1,66
48375,38567542,Spacious room in Brooklyn brownstone,68905617,Eric,Brooklyn,-73.93772,Private room,79,1,0,0,0.00,10,322
48376,38568081,"Petrose home by JFK, Beach &St John Hosp.",293596932,Ebangha,Queens,-73.75722,Private room,45,3,0,0,0.00,1,173